@model KYC_Portal_Admin.ViewModels.UserInfoVM
@{
    ViewBag.Title = "Create";
}

<br />
<h2>
    New User
</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<form method="post" id="UserForm">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">FirstName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="firstNameInput" name="firstname" value="@Model.docInfo.firstname" minLength="4" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">LastName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="lastname" value="@Model.docInfo.lastname" minLength="4" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="phoneNumberInput" name="phone" minLength="4" maxLength="10" value="@Model.docInfo.contactno" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Company</label>
        <div class="col-sm-6">
            <select class="form-control" name="companyid" required>
                <option selected disabled></option>
                @foreach (var company in Model.Companies)
                {
                    if (company.id == Model.docInfo.companyid)
                    {
                        <option selected value="@company.id">@company.companyname</option>
                    }
                    else
                    {
                        <option value="@company.id">@company.companyname</option>

                    }
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PAN</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="pan" value="@Model.docInfo." required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.docInfo.address" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="email" value="@Model.docInfo.emailid" required />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="input-group" style="width:50%;">
            <input type="password" id="passowrdInput" class="form-control" name="userpwd" value="@Model.docInfo.userpwd" required />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="eyeBtn" type="button"><i id="faEyeIcon" class="fas fa-eye fa-eye-slash"></i></button>
                <button class="btn btn-outline-secondary" id="genPasswordBtn" type="button"><i class="fas fa-sync"></i></button>
            </div>
        </div>
    </div>
    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="closed"></button>
                </div>
            </div>

        </div>
    }


    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Users/Index" role="button">Cancel</a>

        </div>
    </div>


</form>

<script>
    $(document).ready(function () {
        $('#eyeBtn').on('click', function () {
            var eyeIcon = $('#faEyeIcon');
            eyeIcon.toggleClass("fa-eye-slash");
            var input = $("#passowrdInput");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $('#genPasswordBtn').on('click', function () {
            generatePassword();
        });
        $('#firstNameInput').on('input', function () {
            validateForm();
        });

        function validateForm() {
            var username = $('#firstNameInput').val();
            if (username.trim().length === 0) {
                $('#usernameError').show();
                $('#generatePasswordBtn').prop('disabled', true);
            } else {
                $('#usernameError').hide();
                $('#generatePasswordBtn').prop('disabled', false);
            }
        }

        function generatePassword() {
            var username = $('#firstNameInput').val();
            var phoneNumber = $('#phoneNumberInput').val();
            debugger
            console.log($("#UserForm")[0].checkValidity())
            if (username.length < 4 || phoneNumber.length < 4)
                if ($("#UserForm")[0].checkValidity() == false) {
                    $("#UserForm")[0].reportValidity();
                    return;
                }

            // Extract last four digits from the username
            var usernameLastFourDigits = username.slice(0, 4);

            // Extract last four digits from the phone number
            var phoneNumberLastFourDigits = phoneNumber.slice(-4);

            // Generate the password by concatenating the last four digits
            var generatedPassword = usernameLastFourDigits + phoneNumberLastFourDigits;

            // Display the generated password
            $('#passowrdInput').val(generatedPassword);
        }
    });
</script>