@model List<KYC_Portal_Admin.Models.UserInfo>
@{
    ViewBag.Title = "Index";
}

<br />
<h2>List of Users</h2>
<a class='btn btn-primary btn-sm' href="/Users/Create">New User</a>
<div class="row justify-content-end">
    <div class="col-2">
        <a class="btn btn-success btn-sm" href="/Users/ExportToExcel">Export to Exel</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FullName</th>
            <th>Email</th>
            <th>ContactNo</th>
            <th>Address</th>
            <th>Created At</th>
            <th>View</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.firstname @item.lastname</td>
                <td>@item.emailid</td>
                <td>@item.contactno</td>
                <td>@item.address</td>
                <td>@item.createdat</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Users/ViewAttachments?id=@item.id">Details</a>

                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Users/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Users/Delete?id=@item.id">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
