@model KYC_Portal_Admin.ViewModels.CompanyInfoVM

@{
    ViewBag.Title = "Edit";
}

<br />
<h2>
    Edit Companies
</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

}

<form method="POST">
    <input type="hidden" name="id" value="@Model.companyInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">company_name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="companyname" value="@Model.companyInfo.companyname" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="compaddress" value="@Model.companyInfo.compaddress" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Logo_file</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" name="logofile" value="@Model.companyInfo.logofile" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Signature_File</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" name="signaturefile" value="@Model.companyInfo.signaturefile" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="closed"></button>
                </div>
            </div>

        </div>
    }


    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>

        </div>
    </div>


</form>

